.navbar{
    /* color: white; */
    /* box-shadow: 2px 4px 6px black; */
    width: 100%;
    display: flex;
    color: white;
    /* background: #282828; */
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 10;
    justify-content: space-around;
}

.brand img{
    margin-top: 20px;
}
.navbar .menu-items{
    display: flex;
}
.menu-items li{
    list-style: none;
    margin: auto;
    text-transform: uppercase;
    margin: 10px;
    font-weight: 600;
}
.menu-items li:hover{
    cursor: pointer;
    color: gray;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }