
#banner{
    background: black;
    height: 20vh;
    width: 100%;
}
.login{
    display: flex;align-items: center;
    justify-content: center;
}
.login-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-left{
    background: linear-gradient(black,blue);
    height: 80vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 160% 0px;
    margin-left: -200px;
}
.login-left h1{
    color: white;
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.link{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    margin: 20px;
    padding: 20px;
    background-position: center center;
    background-repeat: no-repeat;
  
    animation: bg-spin 3s linear infinite;
}
.link img{
    width: 40px;
}
.link:hover {
    --border-size: 3px;
    --border-angle: 0turn;
    
    background-image: conic-gradient(
        from var(--border-angle),
        whitesmoke,
        white 50%,
        blue
      ),
      conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
    background-size: calc(100% - (var(--border-size) * 2))
        calc(100% - (var(--border-size) * 2)),
      cover;
  
   
    }
  
   
@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }
  
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
}

