.suio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.suio h1{
    font-size: 50px;
    text-transform: uppercase;
    margin: 20px;
}
.suio table tr,td{
    padding: 10px;
}
.suio  input{
    padding: 10px;
    font-style: 20px;
}
.suio button{
    padding: 15px 25px 15px 25px;
    margin-left: 20px;
}
.ansh{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}
#red{
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
}
#green{
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
}